<!-- <nav class="t-header">
    <div class="t-header-brand-wrapper text-center">
        <a routerLink="/dashboard" style="color: #000; font-weight: bolder;">BizDir Application</a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none"><i class="mdi mdi-menu"></i></button>
            <form action="#" class="t-header-search-box">
                <div class="input-group">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search for a business..." autocomplete="off">
                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
                </div>
            </form>
            <ul class="nav ml-auto">
                    <li class="nav-item"><a class="nav-link" id="" aria-expanded="false"><i class="mdi mdi-power mdi-2x"></i></a>
                    </li>
                </ul>
        </div>
    </div>
</nav> -->