<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(assets/images/cust/resource/mslider2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header wform">
                        <div class="job-search-sec">
                            <div class="job-search">
                                <h4>Explore Thousand Of Businesses With Just Simple Search...</h4>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="job-field">
                                                <input type="text" placeholder="Search by Business Name, Location, Industry" />
                                                <i class="la la-keyboard-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit"><i class="la la-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12">

                     <div class="filterbar">
                         <h5>80 Businesses Found</h5>
                     </div>

                     <div class="job-grid-sec">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg1.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg2.png" alt="" /> </div>
                                        <h3><a href="#" title="">Marketing Director</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg3.png" alt="" /> </div>
                                        <h3><a href="#" title="">Application Developer For Android</a></h3>
                                        <span>Altes Bank</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg4.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg5.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>MediaLab</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg6.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>StarHealth</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg7.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg8.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>MediaLab</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="assets/images/cust/resource/jg9.png" alt="" /> </div>
                                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                        <span>StarHealth</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">Ekiti, Nigeria</span>
                                    <a  href="#" title="">View Business</a>
                                </div><!-- JOB Grid -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="pagination">
                        <ul>
                            <li class="prev"><a href="#"><i class="la la-long-arrow-left"></i> Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><span class="delimeter">...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="next"><a href="#">Next <i class="la la-long-arrow-right"></i></a></li>
                        </ul>
                    </div>Pagination -->
                 </div>
             </div>
        </div>
    </div>
</section>