<nav class="t-header">
    <div class="t-header-brand-wrapper text-center">
        <a routerLink="/dashboard" style="color: #000; font-weight: bolder;">BizDir Application</a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none"><i class="mdi mdi-menu"></i></button>
            <ul class="nav ml-auto">
                    <li class="nav-item"><a class="nav-link" id="" aria-expanded="false"><i class="mdi mdi-power mdi-2x"></i></a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<div class="page-body">
<div class="sidebar">
    <div class="user-profile">
        <div class="display-avatar animated-avatar"><img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image"></div>
        <div class="info-wrapper">
                <p class="user-name">{{user.user.name}}</p>
                <p class="display-income">Business Development Agent</p></div>
    </div>
    <ul class="navigation-menu">
        <li class="nav-category-divider"></li>
        <li><a routerLink="/"><span class="link-title">Dashboard</span> <i class="mdi mdi-gauge link-icon"></i></a></li>
        <!-- <li><a href="#ui-elements" data-toggle="collapse" aria-expanded="false"><span class="link-title">Business Manager</span> <i class="mdi mdi-bullseye link-icon"></i></a>
          <ul class="collapse navigation-submenu" id="ui-elements">
              <li><a href="new-business.html">Add New Business</a></li>
              <li><a href="view-businesses.html">View All Businesses</a></li>
          </ul>
      </li> -->
      <li><a routerLink="/add-new"><span class="link-title">Add new Business</span> <i class="mdi mdi-library-plus link-icon"></i></a></li>
      <li><a routerLink="/view-all"><span class="link-title">View All Businesses</span> <i class="mdi mdi-view-day link-icon"></i></a></li>
        <!-- <li><a routerLink="/requests"><span class="link-title">Verification Requests</span> <i class="mdi mdi-shape-square-plus link-icon"></i></a></li> -->
        <li><a routerLink="/account"><span class="link-title">Account Settings</span> <i class="mdi mdi-settings link-icon"></i></a></li>
    </ul>
</div>
<div class="">
    <!-- <app-sidebar style="display: none;"></app-sidebar> -->
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add a New Business</li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <p class="grid-header">Business Information</p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <form [formGroup]="addForm" (ngSubmit)="saveBusiness()">
                                        <div class="row mb-3">
                                            <div class="col-md-8">
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType1">Business Name</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <input type="text" class="form-control" id="inputType1" formControlName="name">
                                                    </div>
                                                </div>
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType12">Industry</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <input type="email" class="form-control" id="inputType3"  formControlName="industry">
                                                    </div>
                                                </div>
                                                <div class="form-group row showcase_row_area">
                                                        <div class="col-md-4 showcase_text_area">
                                                            <label for="inputType12">Number of Employees</label>
                                                        </div>
                                                        <div class="col-md-8 showcase_content_area">
                                                            <input type="text" class="form-control" id="inputType3"  formControlName="employees">
                                                        </div>
                                                    </div>
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType13">Location</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <input type="text" class="form-control" id="inputType3"  placeholder="Business Location" formControlName="location">
                                                    </div>
                                                </div>
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType1">Contact Phone Number</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <input type="text" class="form-control" id="inputType3"  formControlName="phone">
                                                    </div>
                                                </div>
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType5">Contact Email</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <input type="email" required="required" class="form-control" id="inputType7"  placeholder="Email Address"formControlName="email">
                                                    </div>
                                                </div>
                                                <div class="form-group row showcase_row_area">
                                                    <div class="col-md-4 showcase_text_area">
                                                        <label for="inputType9">About Business</label>
                                                    </div>
                                                    <div class="col-md-8 showcase_content_area">
                                                        <textarea class="form-control" id="inputType3" cols="12" rows="5" placeholder="About Business" formControlName="about"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mx-auto" style="margin-left: 40% !important;">
                                                        <button type="submit" class="btn btn-primary btn-block mt-0">Save Business</button>
                                                    </div>
                                            </div>
                                            
                                        </div>
                                        </form>
                                    <div class="row">
                                            
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
    </div>
    <!-- page content ends -->
</div>