<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(assets/images/cust/resource/mslider3.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3> {{business.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                 <div class="col-lg-12 column">
                     <div class="job-single-sec style3">
                         <div class="job-head-wide">
                             <div class="row">
                                 <div class="col-lg-8">
                                     <div class="job-single-head3">
                                         <div class="job-thumb"> <img src="assets/images/cust/resource/sdf.png" alt="" /></div>
                                         <div class="job-single-info3">
                                             <h3>{{business.name}}</h3>
                                             <span><i class="la la-map-marker"></i>{{business.location}}</span>
                                             <ul class="tags-jobs">
                                                 <li><i class="la la-calendar-o"></i> Post Date: {{business.created_at}}</li>
                                                 <li><i class="la la-eye"></i> Views 5683</li>
                                             </ul>
                                         </div>
                                     </div><!-- Job Head -->
                                 </div>

                                 <div class="col-lg-4">
                                     <div class="apply-alternative">
                                         <span><i class="la la-heart-o"></i> Add to Favorites</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="job-wide-devider">
                             <div class="row">
                                 <div class="col-lg-8 column">		
                                     <div class="job-details">
                                         <h3>About {{business.name}}</h3>
                                         <p>{{business.about}}</p>
                                         <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien</p>
                                         <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien</p>
                                     </div>
                                     
                                     <div class="extra-job-info">
                                         <span><i class="la la-building-o"></i><strong>{{business.industry}}</strong> </span>
                                         <span><i class="la la-users"></i><strong>{{business.employees}} Employees</strong></span>
                                         <span><i class="la la-star"></i><strong>Verified Business</strong></span>
                                     </div>
                                 </div>
                                 <div class="col-lg-4 column">
                                     <div class="job-overview">
                                         <h3>Business Contact Details</h3>
                                         <ul>
                                             <li><i class="la la-globe"></i><h3>https://teraplanner.co</h3><span>Website</span></li>
                                             <li><i class="la la-envelope-o"></i><h3>{{business.email}}</h3><span>Email</span></li>
                                             <li><i class="la la-phone"></i><h3>{{business.phone}}</h3><span>Phone</span></li>
                                         </ul>
                                     </div><!-- Job Overview -->
                                     <div class="quick-form-job" id="contact-biz">
                                         <h3>Contact</h3>
                                         <form>
                                             <input type="text" placeholder="Enter your Name *" />
                                             <input type="text" placeholder="Email Address*" />
                                             <input type="text" placeholder="Phone Number" />
                                             <textarea placeholder="Message should have more than 50 characters"></textarea>
                                             <button class="submit">Send Email</button>
                                             <span>You must agree to our <a href="#" title="">Terms and Conditions</a></span>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>