<div class="sidebar">
    <div class="user-profile">
        <div class="display-avatar animated-avatar"><img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image"></div>
        <div class="info-wrapper">
            <p class="user-name">Samuel Jonas</p>
            <p class="display-income">Business Development Agent</p></div>
    </div>
    <ul class="navigation-menu">
        <li class="nav-category-divider"></li>
        <li><a routerLink="/"><span class="link-title">Dashboard</span> <i class="mdi mdi-gauge link-icon"></i></a></li>
        <!-- <li><a href="#ui-elements" data-toggle="collapse" aria-expanded="false"><span class="link-title">Business Manager</span> <i class="mdi mdi-bullseye link-icon"></i></a>
          <ul class="collapse navigation-submenu" id="ui-elements">
              <li><a href="new-business.html">Add New Business</a></li>
              <li><a href="view-businesses.html">View All Businesses</a></li>
          </ul>
      </li> -->
      <li><a routerLink="/add-new"><span class="link-title">Add new Business</span> <i class="mdi mdi-library-plus link-icon"></i></a></li>
      <li><a routerLink="/view-all"><span class="link-title">View All Businesses</span> <i class="mdi mdi-view-day link-icon"></i></a></li>
        <!-- <li><a routerLink="/requests"><span class="link-title">Verification Requests</span> <i class="mdi mdi-shape-square-plus link-icon"></i></a></li> -->
        <li><a routerLink="/account"><span class="link-title">Account Settings</span> <i class="mdi mdi-settings link-icon"></i></a></li>
    </ul>
</div>