<nav class="t-header">
    <div class="t-header-brand-wrapper text-center">
        <a routerLink="/dashboard" style="color: #000; font-weight: bolder;">BizDir Application</a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none"><i class="mdi mdi-menu"></i></button>
            <ul class="nav ml-auto">
                    <li class="nav-item"><a class="nav-link" id="" aria-expanded="false" (click)="doLogout()"><i class="mdi mdi-power mdi-2x"></i></a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<div class="page-body" *ngIf="modName == admin">
<div class="sidebar">
    <div class="user-profile">
        <div class="display-avatar animated-avatar"><img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image"></div>
        <div class="info-wrapper">
            <p class="user-name">{{user.user.name}}</p>
            <p class="display-income">Business Development Agent</p></div>
    </div>
    <ul class="navigation-menu">
        <li class="nav-category-divider"></li>
        <li><a routerLink="/"><span class="link-title">Dashboard</span> <i class="mdi mdi-gauge link-icon"></i></a></li>
        <!-- <li><a href="#ui-elements" data-toggle="collapse" aria-expanded="false"><span class="link-title">Business Manager</span> <i class="mdi mdi-bullseye link-icon"></i></a>
          <ul class="collapse navigation-submenu" id="ui-elements">
              <li><a href="new-business.html">Add New Business</a></li>
              <li><a href="view-businesses.html">View All Businesses</a></li>
          </ul>
      </li> -->
      <li><a routerLink="/add-new"><span class="link-title">Add new Business</span> <i class="mdi mdi-library-plus link-icon"></i></a></li>
      <li><a routerLink="/view-all"><span class="link-title">View All Businesses</span> <i class="mdi mdi-view-day link-icon"></i></a></li>
        <!-- <li><a routerLink="/requests"><span class="link-title">Verification Requests</span> <i class="mdi mdi-shape-square-plus link-icon"></i></a></li> -->
        <li><a routerLink="/account"><span class="link-title">Account Settings</span> <i class="mdi mdi-settings link-icon"></i></a></li>
    </ul>
</div>
<div class="">
    <!-- partial -->
    <div class="page-content-wrapper" style="width: 100%;">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
                <div class="row">
                    <div class="col-12 py-5">
                        <h4>Welcome back, {{user.user.name}}</h4>
                        <p class="text-gray">Almost all data on this page are dummy data; However, the important stuff still works!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <p style="font-size: 34px;">{{allBiz.length}}</p>
                                <p class="text-black" style="font-size: 26px;">Total Businesses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <p style="font-size: 34px;">{{allBiz.length}}</p> <!-- There should be a verified flag on each business record...but let's skip that for now-->
                                <p class="text-black" style="font-size: 26px;">Verified Businesses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <p style="font-size: 34px;">15</p>
                                <p class="text-black" style="font-size: 26px;">Pending Requests</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 equel-grid">
                        <div class="grid">
                            <div class="grid-body py-3">
                                <p class="card-title ml-n1">Recently Added Businesses</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr class="solid-header">
                                            <th colspan="2" class="pl-4">Business Name</th>
                                            <th>Business Location</th>
                                            <th>Contact Details (Phone, Email)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let business of allBiz;">
                                            <td class="pr-0 pl-4"></td>
                                            <td class="pl-md-0"><small class="text-black font-weight-medium d-block">{{business.name}}</small> <span class="text-gray">{{business.industry}}</span>
                                            </td>
                                            <td><small>{{business.location}}</small></td>
                                            <td>{{business.phone}}, {{business.email}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><a class="border-top px-3 py-2 d-block text-gray" routerLink="/view-all"><small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Businesses</small></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="row">
                <div class="col-sm-6 text-center text-sm-right order-sm-1">
                    <ul class="text-gray">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0"><small class="text-muted d-block">Copyright &copy; 2019 <a href="http://www.uxcandy.co/" target="_blank">BusinessDir inc.</a> All rights reserved</small></div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>