<div class="authentication-theme auth-style_1">
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
            <div class="grid">
                <div class="grid-body">
                    <div class="row">
                        <div class="col-12 logo-section">
                                <p class="logo" style="font-weight: bolder; font-size: 1.5em; text-align: center;width: 100%;">
                                    <span style=" font-size: 1.5em; width: 100%;">Login</span>
                                    <small style="font-weight: light !important; font-size: 16px; display: block; margin-top: 20px;" class="mt-20">Please login to continue</small>
                                </p>
                                
                            </div>
                        <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                                <div class="form-group input-rounded">
                                    <input type="email" class="form-control" placeholder="Email" formControlName="email" >
                                </div>
                                <div class="form-group input-rounded">
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auth_footer">
        <p class="text-muted text-center">&copy; BusinessDir Inc 2019</p>
    </div>
</div>