<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(assets/images/cust/resource/mslider2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header wform">
                        <div class="job-search-sec">
                            <div class="job-search">
                                <h4>Explore Thousand Of Businesses With Just Simple Search...</h4>
                                <form [formGroup]="searchForm" (ngSubmit)="doSearch()">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="job-field">
                                                <input type="text" placeholder="Search by Business Name, Location, Industry" formControlName="term" />
                                                <i class="la la-keyboard-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit"><i class="la la-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="result != ''">
    <div class="block">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12">

                     <div class="filterbar">
                         <h5>{{statusMessage}}</h5>
                     </div>

                     <div class="job-grid-sec">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let business of result; let i = index">
                                <div class="job-grid border">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <!--<img src="assets/images/cust/resource/jg1.png" alt="" />--> </div>
                                        <h3><a href="#" title="">{{business.name}}</a></h3>
                                        <span>{{business.industry}}</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <span class="job-lctn">{{business.location}}</span>
                                    <a  (click)="viewBiz(business)" title="">View Business</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="pagination">
                        <ul>
                            <li class="prev"><a href="#"><i class="la la-long-arrow-left"></i> Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><span class="delimeter">...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="next"><a href="#">Next <i class="la la-long-arrow-right"></i></a></li>
                        </ul>
                    </div>Pagination -->
                 </div>
             </div>
        </div>
    </div>
</section>