<nav class="t-header">
    <div class="t-header-brand-wrapper text-center">
        <a routerLink="/dashboard" style="color: #000; font-weight: bolder;">BizDir Application</a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none"><i class="mdi mdi-menu"></i></button>
            <ul class="nav ml-auto">
                    <li class="nav-item"><a class="nav-link" id="" aria-expanded="false"><i class="mdi mdi-power mdi-2x"></i></a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<div class="page-body">
<div class="sidebar">
    <div class="user-profile">
        <div class="display-avatar animated-avatar"><img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image"></div>
        <div class="info-wrapper">
                <p class="user-name">{{user.user.name}}</p>
                <p class="display-income">Business Development Agent</p></div>
    </div>
    <ul class="navigation-menu">
        <li class="nav-category-divider"></li>
        <li><a routerLink="/"><span class="link-title">Dashboard</span> <i class="mdi mdi-gauge link-icon"></i></a></li>
        <!-- <li><a href="#ui-elements" data-toggle="collapse" aria-expanded="false"><span class="link-title">Business Manager</span> <i class="mdi mdi-bullseye link-icon"></i></a>
          <ul class="collapse navigation-submenu" id="ui-elements">
              <li><a href="new-business.html">Add New Business</a></li>
              <li><a href="view-businesses.html">View All Businesses</a></li>
          </ul>
      </li> -->
      <li><a routerLink="/add-new"><span class="link-title">Add new Business</span> <i class="mdi mdi-library-plus link-icon"></i></a></li>
      <li><a routerLink="/view-all"><span class="link-title">View All Businesses</span> <i class="mdi mdi-view-day link-icon"></i></a></li>
        <!-- <li><a routerLink="/requests"><span class="link-title">Verification Requests</span> <i class="mdi mdi-shape-square-plus link-icon"></i></a></li> -->
        <li><a routerLink="/account"><span class="link-title">Account Settings</span> <i class="mdi mdi-settings link-icon"></i></a></li>
    </ul>
</div>

<div class="page-content-wrapper">
    <div class="page-content-wrapper-inner">
        <div class="content-viewport">
            <div class="row">
                <div class="col-12 py-5">
                    <h4>View Businesses</h4>
                    <p class="text-gray">The table below shows all businesses you have added!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="grid">
                        <div class="grid-body">
                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <table id="complex-header-table" class="data-table table">
                                        <thead>
                                            <tr class="header-grouping-label">
                                                <th rowspan="1">Info</th>
                                                <th colspan="2">HR Information</th>
                                                <th colspan="3">Contact</th>
                                            </tr>
                                            <tr>
                                                <th>Name</th>
                                                <th>Number of Employees</th>
                                                <th>Industry</th>
                                                <th>Location</th>
                                                <th>Phone.</th>
                                                <th>E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let biz of allBiz;">
                                                <td>{{biz.name}}</td>
                                                <td>{{biz.employees}}</td>
                                                <td>{{biz.industry}}</td>
                                                <td>{{biz.location}}</td>
                                                <td>{{biz.phone}}</td>
                                                <td><a href="mailto: {{biz.email}}">{{biz.email}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content viewport ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-right order-sm-1">
                <ul class="text-gray">
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0"><small class="text-muted d-block">Copyright &copy; 2019 <a href="http://www.uxcandy.co/" target="_blank">BusinessDir inc.</a> All rights reserved</small></div>
        </div>
    </footer>
    <!-- partial -->
</div>